.form-card {
    max-width: 500px;
    margin: 2em auto;
}

.mat-form-field {
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.gender-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}