<form [formGroup]="myForm" (ngSubmit)="onSubmit()">      
    <mat-card class="form-card">
        <mat-card-title>Sign In</mat-card-title>
        <mat-card-content>
            <div class="form-row">
                <mat-form-field appearance="standard" floatLabel="always">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Type your email" formControlName="email">
                    <mat-error *ngIf="myForm.get('email')?.hasError('email') && !myForm.get('email')?.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="myForm.get('email')?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>    
            </div>
                
            <div class="form-row">
                <mat-form-field appearance="standard" floatLabel="always">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Type your password" formControlName="password">
                    <mat-error *ngIf="!myForm.get('password')?.valid">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
                
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!myForm.valid">Sign In</button>
        </mat-card-actions>
    </mat-card>
</form>


